<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Prova C</title>
    <link rel="stylesheet" href="css/style.css" />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="container1">
        <aside>
          <img src="img/AMENDOIM.jfif" alt="" />
          <h3>Profile</h3>
          <h5>Load Designer</h5>
          <div class="online">
            <div class="on">
              <div></div>
              online
            </div>
          </div>
          <ul class="menu">
            <li>
              <a href="">
                <i class="bx bx-pencil"></i>
                Work
              </a>
            </li>
            <li>
              <a href="">
                <i class="bx bx-phone"></i>
                plan
              </a>
            </li>
            <li>
              <a href="">
                <i class="bx bx-stats"></i>
                Stats
              </a>
            </li>
            <li>
              <a href="">
                <i class="bx bx-dock-left"></i>
                Documents
              </a>
            </li>
            <li>
              <a href="">
                <i class="bx bx-user"></i>
                Users
              </a>
            </li>
            <li>
              <a href="">
                <i class="bx bx-cog"></i>
                Settings
              </a>
            </li>
          </ul>
          <footer class="c-1"><a href="">Log Out</a></footer>
        </aside>
      </div>
      <div class="container2">
        <header>
          <div class="icons">
            <div>
              <i class="bx bx-message-alt-detail"></i>
            </div>
            <div>
              <i class="bx bx-bell"></i>
            </div>
          </div>
          <div class="search">
            <i class="bx bx-search-alt-2"></i>
            <input type="text" name="x" id="x" placeholder="Search Projects" />
          </div>
          <div class="options">
            <i class="bx bx-menu"></i>
          </div>
        </header>
        <section>
          <div class="project">
            <h3>Project Title</h3>
            Short Description
          </div>
          <div class="date">
            <div class="D1">DUE DATE</div>
            <div class="D2">Mon, Aug 28, 2017</div>
          </div>
          <div class="users">
            <div class="img"></div>
            <div class="img"></div>
            <div class="img"></div>
          </div>
        </section>
        <main>
          <div class="add">
            <div>Create a new Ticket</div>
            <div>+ Add column</div>
          </div>
          <div class="status">
            <div>BackLog</div>
            <div>In Progress</div>
            <div>Review</div>
          </div>
          <div class="nav">
            <div class="Backlog">
              <div class="task">
                <div>
                  TasK Name <br />
                  Design <br />
                  Description <br />
                  photo NA/NA/NA
                </div>
              </div>
              <div class="task">
                <div>
                  TasK Name <br />
                  Feature <br />
                  Description <br />
                  photo NA/NA/NA
                </div>
              </div>
            </div>
            <div class="InProgress">
              <div class="task">
                <div>
                  TasK Name <br />
                  Design <br />
                  Description <br />
                  photo NA/NA/NA
                </div>
              </div>
              <div class="task">
                <div>
                  TasK Name <br />
                  Design <br />
                  Description <br />
                  photo NA/NA/NA
                </div>
              </div>
            </div>
            <div class="Review">
              <div class="task">
                <div>
                  TasK Name <br />
                  Design <br />
                  Description <br />
                  photo NA/NA/NA
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>
</html>
