<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css" />
    <style>
      *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body{
        display: flex;
        justify-content: center;   
        align-items: center;    
        height: 100vh;          
      }

      .item {
        display: grid;
        grid-template-rows: 7, auto;
        height: 45px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <!-- (item.item-${Item $})*12 -->
       <button class="acess">
        <a href="http://192.168.1.145:8080/print_screen" class="button-link">página de camera</a>
       </button>
      <item class="item item-1">Item 1</item>
      <item class="item item-2">Item 2</item>
      <item class="item item-3">Item 3</item>
      <item class="item item-4">Item 4</item>
      <item class="item item-5">Item 5</item>
      <item class="item item-6">Item 6</item>
      <item class="item item-7">Item 7</item>
      <item class="item item-8">Item 8</item>
      <item class="item item-9">Item 9</item>
    </div>
  </body>
</html>