@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
    --bg-primary: #f7f7f7;
    --bg-b-screen: #f46483;
    --bg-design: #51e9b1;
    --bg-background: #e0e0e0;
    --bg-success: crimson;
    --shadow: #e3e3e3;
    --primary-text: #696969;
}

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.5rem;
}

h5 {
    font-style: none;
    font-size: small;
}

.container {     
            margin: 0 auto;
            border: .3rem solid var(--bg-b-screen);
            width: 80vw;
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 4fr;
        
}

.container .container1 {
    padding: 20%;


}


.container .container1 aside img {
    text-align: center;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.container .container1 aside .online .on{
    display: flex;

}   

.container .container1 aside .online .on div {
    background-color: var(--bg-design);
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.container .container1 .menu {
    list-style: none;
    margin-top: 5rem;
    
}

.container .container1 .menu li a {
    text-decoration: none;
    color: black;
    padding: 17px;
    display: inline-block;
    transition: background .4s;
}

.container .container1 .menu li a:hover {
    color: var(--bg-b-screen);
}

.container .container1 .c-1 {
    margin: 3rem;
}

.container .container1 .c-1 a {
    text-decoration: none;
    color: black;
}

.container .container1 .c-1 a:hover {
    color: blue;
    /* margin-top: 17rem; */

}


.container .container2 {
    height: 99.4vh;
    background-color: var(--bg-background);
    display: grid;
    grid-template-rows: 1fr 1fr 4fr;
    
}

.container .container2 header {
    padding-top: 4.5rem;
    padding-bottom: 4.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
}

.container .container2 header .icons i {
    font-size:medium;



}
.container .container2 header .icons {
    display: grid;
    grid-template-columns: 1fr 3fr;
}


.container .container2 header .icons div {
    padding-top: .4rem;
    padding-left: .6rem;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-color: var(--bg-primary);

}


.container .container2 header .search {
    background-color: var(--bg-primary);
    width: 70%;
    height: 3rem;

}

.container .container2 header .search i {
    margin-right: .2rem;
    padding-top: .6rem;
    font-size: large;

}

.container .container2 header .search input {
    background-color: var(--bg-primary);
    padding-top: -0.6rem;
    width: 50%;

}

.container .container2 header .options {
    font-size: large;
    padding-left: 70%;

}

.container .container2 section {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
.container .container2 section .project ,.container .container2 section .description {
    padding-left: 3rem;
    padding-top: 3rem ;
}

.container .container2 section .date {
    padding-left: 3rem;
    padding-top: 3rem;
}

.container .container2 section .users {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 20%;
}

.container .container2 section .users .img{
    background-color: var(--bg-primary);
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    padding-left: 3rem;
    padding-top: 3rem;

}


.container .container2 main {
    display: grid;  
    grid-template-rows: 5rem 5rem 36rem;
}

.container .container2 main .add {
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: 4fr 1fr;

}

.container .container2 main .add :nth-child(1) {
    width: 17rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-top: .2rem;
    font-size: small;
    color: var(--bg-primary);
    background-color: var(--bg-b-screen);
    display: flex;
    justify-self: end;
    border-radius: 20px;
    /* border: 1px solid black; */
}

.container .container2 main .add :nth-child(2) {
    margin-left: 5rem;
    margin-top: 1rem;
}

.container .container2 main .status {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.container .container2 main .nav {
    background-color: var(--bg-background);
    /* margin-bottom: 1rem; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.container .container2 main .Backlog { 
    background-color: var(--bg-background);
    /* border: 1px solid black; */
    grid-template-rows: 1fr 1fr;
}

.container .container2 main .InProgress {
    /* border: 1px solid black; */
    grid-template-rows: 1fr 1fr;
}


.container .container2 main .Review {
    /* border: 1px solid black; */
    grid-template-rows: 1fr 1fr;
}

.container .container2 main .task {
    margin: 3rem;
    height: 15rem;
    border-radius: .5rem;
    background-color: var(--bg-primary);
    /* border: 1px solid black; */

}

