<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem Vindo</title>
</head>
<body>
    <h1 class="tittle">Meu portifólio flask
    </h1>

    <form method="post">

        <label for="button" class="subtittle">Uma rota com uma tag Canvas que move uma imagem da direita para a esquerda</label>
        <button class="button" name="selection" value="toTagCanvas">Entrar</button>

    </form>

</body>
</html>