<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tagCanvas</title>

    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        

        canvas {
            border: 1px solid black
        }
    </style>
</head>

<body>
    <h1>Mova a imagem para a esquerda e direita</h1>
    <canvas id="canvas" width="800" height="400"></canvas>
    <br>
    <button id="left">Esquerda</button>
    <button id="right">Direita</button>

    <script>
        const canvas = document.getElementById('canvas');
        const ctx = canvas.getContext('2d');
        const img = new Image();
        let x = 100;

        img.src = './img/empire.jpeg'
        img.onload = () => ctx.drawImage(img, x, 100); inicialmente

        const updateCanvas = (direction) => {
            x += direction === 'right' ? 10 : -10;
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            ctx.drawImage(img, x, 100); 
        };

        document.getElementById('left').addEventListener('click', () => updateCanvas('left'));
        document.getElementById('right').addEventListener('click', () => updateCanvas('right'));


    </script>

</body>

</html>